* {
    margin: 0px;
    border: 0px;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#a4e07f,#3a4452);
}
.mb-2{
    padding: 20px;
    background-color: rgb(210, 210, 173);
    border-radius: 30px;
    text-align: right;
    margin: 10px;

}
#result{
    font-size: 18px;
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgb(23, 23, 23);
}
input{
    width: 320px;
    padding: 41px;
    margin: 20px;
    text-align: right;
    background-color: transparent;
    font-size: 27px;
    box-shadow: 0px 3px 15px rgba(22, 21, 21, 0.1);
    cursor: pointer;
    border: none;
}
input::placeholder{
    color: white;
}
button{
border: none;
width: 60px;
height: 60px;
margin: 12px;
border-radius: 50%;
font-size: 20px;
background: transparent;
color: white;
box-shadow: 1px 2px 6px rgb(255, 253, 208);
cursor: pointer;
}
.eqlbtn{
    background-color: rgb(179, 179, 156);
}
.operator{
    color: rgb(236, 233, 87);
    font-size: 20px;
}